body {
    box-sizing: border-box;
    font-family: monospace;
    display: grid;
    height: 40vh;
    place-items: center;
   }
  
  .base-timer {
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  /* scaleX(1) = CLOCKWISE, scaleX(-1) = ANTI-CLOCKWISE */
  .base-timer__svg {
    transform: scaleX(1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.arc {
    color: rgba(179, 48, 102, 0.973)
  }
  
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }

  .options {
    flex-direction: row;
    align-items: flex-start;
  }
  
  .buttons {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .buttons button {
    margin: 1rem;
    border: none;
    background-color: beige;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    padding: .3rem;
    font-size: 1.1rem;
  }
  
  .buttons button:hover {
    background-color: rgba(179, 48, 102, 0.973);
    color: white;
  }
  
  .buttons button:disabled {
    cursor: not-allowed;
  }

  .buttons button:disabled:hover{
    background-color:beige;
  }

  /* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
